
@{
    ViewBag.Title = "Payment Success";
}

<h2>Payment Success</h2>

<h3>You have paid nicely. We salute you, and we hope you do enjoy your just purchased products.</h3>
<hr />
<p>You will be redirected to the homepage in a moment.</p>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function () {
    var serviceURL = '@Url.Action("ClearShoppingCartSession", "Product")';

        jQuery.ajax({
            type: "GET",
            url: serviceURL,
            contentType: 'application/json',

            success: function (data) {
                // location.href = '@Url.Action("Index","Home")';
                setTimeout(function () {
                    location.href = '@Url.Action("Index","Home")';
                }, 5000);
            },
        });
});
</script>